body
{
    background-image: url(../images/318fbc91200295b5c7edcb5c2f3b65f442951a3229d9f-PMkHnm_fw658.jpg);
    /*background-color: rgb(223, 206, 181);*/
    margin:0;
    padding:0;
    font-family:     Verdana, Geneva, Arial, sans-serif;
    font-size:18px;
    line-height: 1.5;
}
#shetuanjieshao,#chuzhong
{
    font-size:20px;
    line-height: 1.5;
}
#zhongjian
{
    line-height: 1.5;
}
div.inner
{
    width:1500px;
    margin-left:auto;
    margin-right:auto;
}
nav
{   
    font-size: 45px;
    font-weight: 200;
    text-align:right;
    height:55px;
    background-color: rgb(243, 195, 99);
}
a
{
  /*  text-align:right;*/
    font-size: 25px;
    padding-right: 10px;
    color:#9137aa;
}
#color
{
    height:100px;
    background-color: rgb(243, 195, 99);
}
section#container_1/*内容区1的三个小版块都设置向左浮动实现并排*/
{
    margin-top: 30px;
    height: 300px;
}
h1
{
    margin:0px;
    font-size: 45px;
    color: rgb(255, 255, 255);
}
section#container_1 div.inner div#cont_1_1
{
    width:600px;
    height: 280px;
    background-color:antiquewhite;
    float:left;
    border-top: 10px solid #85754d;
    border-bottom: 10px solid  #fff;
    border-bottom: 10px;
}
section#container_1 div.inner div#cont_1_2
{
    width:300px;
    height:280px;
    background-color: #e8e0cd;
    float:left;
    border-top: 10px solid #85754d;
    border-bottom: 10px solid  #fff;
    border-bottom: 10px;
}
em
{
    color:#9137aa;
}
section#container_1 div.inner div#cont_1_3
{
    width:600px;
    height: 280px;
    background-color:antiquewhite;
    float:left;
    border-top: 10px solid #85754d;
    border-bottom: 10px solid  #fff;
}
section#zhongjian div.inner div.zhongjian
{
    width:1500px;
    height: 100px;
    background-color:antiquewhite;
    float:left;
    border-bottom: 10px solid #85754d;
}
section#container_2/*第三个内容的四个小版块都设置为向左浮动，实现并排显示*/
{
    height: 500px;
}
section#container_2 div.inner div#cont_2_1,div#cont_2_3
{
    width:400px;
    height: 460px;
    background-color:antiquewhite;
    float:left;
    margin-right: 25px;
    margin-top: 50px;
    border-top: 100px ;
  /*  border-top: 10px solid #85754d;
    border-bottom: 10px solid #85754d*/
}
section#container_1 div.inner div#cont_2_2, div#cont_2_4
{
    width:300px;
    height:460px;
    background-color: #e8e0cd;
    float:left;
    margin-top: 50px;
}

section#container_1 div.inner div#cont_2_2
{
    margin-right: 50px;
}
